<div>	
	<div class="panel-section panel-section-header" style="display: inline-block; width: 100%;"> 
		<div class="text-section-header-mod">Page actions</div>
	</div>

	<div class="bottom-bucket" style="padding-left: 27%;margin-top: 30px;"> <!-- !!! center properly. -->
		<button class="browser-style" ng-click="addScript()" style="margin-left: 30px;z-index:999;"> Add Script </button>
		<button class="browser-style" ng-click="listenTab()" style="margin-left: 30px;z-index:999;"> Listen Tab Requests </button>
	</div>	
</div>
