<div class="panel-section">

	<div style="width: 100%;">
		
		<dd-title val="'groups_active'" text="'Groups'"></dd-title>
		
		<div style="display: inline-block; width: 100%; margin-top: 30px;" ng-show="groups_active" ng-if="groups.length">
			
			<form style="margin-top: 20px;margin-bottom: 70px;" ng-submit="addSite()" ng-show="groups.length">
				
				<label class="input" style="min-width: 60%; padding-left: 10px;">
					
					<site-validator style="width:55%;" ev="events" url="url"> </site-validator>
					
				</label>
				
				<div style="float: right; padding-right: 70px;">
					
					<label class="input">
						
						<span> to </span>
						<select id="group_select" class="browser-style" ng-model="current" ng-options="group for group in groups" ng-change="selectChange()"></select>
						
					</label>
					
					<button class="browser-style" ng-click="addSite()"> {{action}} Site </button>
				</div>
			</form>	

			<div class="bottom-bucket" style="text-align: center; margin: 0;">
				<button class="browser-style" ng-click="page.bg.showUnattachedEditor(null)"> Create Group </button>
			</div>
		</div>
	</div>
</div>
