<ul style="margin: 0 0 0 0" class="browser-style" ng-repeat="list in data" ng-if="list.total">

	<div
		ng-if="page.bg.db.available"
		ng-show="list.title != page.bg.texts.findText('groups')"
		style="display: inline-block;"
		class="origin-mark-sm"
		ng-click="switchOrigin('domain', list)">

		{{ list.in_storage ? "ST" : "DB" }}
	</div>
	
	<h4 style="margin: 10px 0 0 5px;display: inline-block;"> {{ list.title }}
		<drop-down item="list" width="14" height="14"></drop-down>
	</h4>
	
	<li ng-show="list.visible" ng-repeat="item in list.list track by item.name" style="display: block;margin-left: 30px;">

		<div
			ng-if="page.bg.db.available"
			ng-show="list.title == page.bg.texts.findText('groups')"
			style="display: inline-block;"
			class="origin-mark-sm"
			ng-click="switchOrigin('group', item)">
			
			{{ item.in_storage ? "ST" : "DB" }}
			
		</div>
		
		<h5 style="margin: 5px 0 0 2px; display: inline-block;">
			<bdi style="color: black" class="selectable" ng-if="item.included"> {{ item.name }} </bdi>
			<bdi style="color: gray;" class="selectable" ng-if="!item.included"> {{ item.name }} </bdi>
			<drop-down ng-if="item.included" item="item" width="12" height="12"></drop-down>
		</h5>
		
		<table style="margin-bottom: 30px;width: 100%;display: table;margin-left: 20px;" ng-show="item.visible" ng-if="item.scripts.length && item.included">
			<thead>
				<th style="text-align: left; width: 30%;">
					<h5 style="margin-bottom: 2px;">Name</h5>
				</th>
				<th style="text-align: left;">
					<h5 style="margin-bottom: 2px;">Status</h5>
				</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody style="display: table-row-group;">
				
				<tr ng-repeat="script in item.scripts track by script.uuid" style="width: 100%;">

					<td style="width: 30%;">
						<script-name script="script" style="margin-right: 20px;"></script-name>
					</td>
					
					<td style="float: left;margin-left: 10px;padding-right: 30px;">
						<script-status id="status-{{script.uuid}}" status="page.bg.content_mgr.getStatus(script.uuid, page.tabId)"></script-status>
					</td>
					
					<td style="float: left;margin-left: 5px;" ng-if="page.bg.content_mgr.framesFor(page.tabId) && !script.disabledAt(page.url)">
						<button class="browser-style" ng-click="reloadScript(script)" style="margin-left: 5px;text-align: center;">
							{{ page.bg.texts.findText('reload') }}
						</button>
					</td>
					
					<td style="float: left;margin-left: 5px;">

						<button
							ng-disabled="!canDisable(list, item)"
							class="browser-style"
							ng-click="script.toggleDisableFor(page.url)"
							style="margin-left: 5px; width: 80px; text-align: center;">
							
							{{ script.disabledAt(page.url) ? page.bg.texts.findText('enable') : page.bg.texts.findText('disable') }}

						</button>
					</td>
					
					<td style="float: left; margin-left: 5px;">
						<button
							class="browser-style"
							ng-click="page.bg.editor_mgr.openEditorInstanceForScript(script)"
							style="margin-left: 5px; width: 80px; text-align: center;">
							
							{{ page.bg.texts.findText('edit') }}

						</button>
					</td>

					<td style="float: left; margin-left: 5px;">
						<are-u-sure
							ng-disabled="!canRemove(list, item)"
							style="margin-left: 5px;width: 80px;"
							text="page.bg.texts.findText('remove')"
							action="removeScript(script)"
							locale="page.bg.texts">
						</are-u-sure>
					</td>
					
				</tr>

			</tbody>
			
		</table>

		<no-info ng-show="item.visible" ng-if="!item.scripts.length" style="padding-top: 30px;font-size: 85%" text="'No Scripts'"></no-info>

		<table style="width: 100%;" ng-show="item.visible">
			<tbody>

				<tr paginator
					pag-small
					ng-if="item.total > 5" 
					target="item.section"
					site="item.name"
					feeding="page.bg[(item.section == page.bg.texts.findText('groups') ? 'group' : 'domain') + '_mgr'].getScriptsSliceFor" 
					slice="5" 
					actual="item.actual" 
					total="item.total" 
					parent="newScriptsFor"></tr>
			</tbody>
		</table>
		
	</li>
	<li style="list-style-type: none;" ng-show="list.visible">
		<table style="width: 100%;">
			<tbody>

				<tr paginator
					pag-big
					ng-show="list.mustPag()" 
					target="list.title"
					site="page.url"
					feeding="page.bg[(list.title == page.bg.texts.findText('groups') ? 'group' : 'domain') + '_mgr'].getPASliceFor" 
					slice="5" 
					actual="list.actual" 
					total="list.total" 
					parent="newSliceFor"></tr>
				
			</tbody>
		</table>
		
	</li>
</ul>
