<div class="panel-section" ng-repeat="item in data track by item.name" ng-if="item.scripts.length" style="display: block;margin-left: 20px;">

	<h4> Included from {{ key }} "{{ item.name }}"
		<drop-down item="item" width="16" height="16"></drop-down>
	</h4>
	
	<table style="margin-bottom: 30px;width: 100%;display: table;margin-left: 20px;" ng-show="item.visible">
		<thead>
			<th style="min-width: 30%;">
				Name
			</th>
			<th>
				Status
			</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody style="display: table-row-group;">
			
			<tr ng-repeat="script in item.scripts track by script.uuid" style="border-bottom: 1px solid black;">

				<td style="min-width: 30%;">
					<script-name script="script"></script-name>
				</td>
				
				<td style="float: left;margin-left: 10px;padding-right: 30px;">
					<script-status id="status-{{script.uuid}}" status="page.bg.content_mgr.getStatus(script.uuid, page.tabId)"></script-status>
				</td>
				
				<td style="float: left;margin-left: 5px;" ng-if="page.bg.content_mgr.framesFor(page.tabId) && !script.disabledAt(page.url)">
					<button class="browser-style" ng-click="reloadScript(script)" style="margin-left: 5px; width: 80px; text-align: center;">
						Reload
					</button>
				</td>
				
				<td style="float: left;margin-left: 5px;">
					<button class="browser-style" ng-click="script.toggleDisableFor(page.url)" style="margin-left: 5px; width: 80px; text-align: center;">
						{{ script.disabledAt(page.url) ? "Enable" : "Disable" }}
					</button>
				</td>
				
				<td style="float: left; margin-left: 5px;">
					<button class="browser-style" ng-click="page.bg.editor_mgr.openEditorInstanceForScript(script)" style="margin-left: 5px; width: 80px; text-align: center;"> Edit </button>
				</td>

				<td style="float: left; margin-left: 5px;" ng-if="!script.parent.isGroup()">
					<button class="browser-style" ng-click="page.remove(script)" style="margin-left: 5px; width: 80px; text-align: center;"> Remove </button>
				</td>
				
			</tr>
			
		</tbody>
		
	</table>
	
</div>
