html, body {
	
	width: 850px !important;
	height: 450px !important;
	/* overflow: visible !important; */
	overflow-x: hidden !important;
}

#content {
	width: 100%;
	height: 100%;
	display: block !important;
	/* text-align: centre; */
	/* position: fixed !important; */
}


