<!DOCTYPE html>

<html>
  <head>
	
	  <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval'; object-src 'self'; img-src 'self'">
	  
	  <link rel="stylesheet" href="pa.css">
	  <link rel="stylesheet" href="chrome://browser/content/extension.css">
	  
	  <script src="../deps/jquery.min.js"></script>
	  <script src="../deps/angular.min.js"></script>
	  <script src="../deps/angucomplete-alt/angucomplete-alt.js"></script>
	  <script src="../deps/angular-ui-router.min.js"></script>
	  <script src="../deps/highlightjs/highlight.min.js"></script>
	  <script src="../deps/angular-highlightjs-searchtext/build/release/angular-highlightjs-searchtext.min.js"></script>
	  <script src="../partials/partials.js"></script>
	  <script src="../../utils/jsloader-utils.js"></script>
	  <script src="../../utils/deps/async.min.js"></script>

	  <script src="../../utils/deps/EventEmitter/EventEmitter.min.js"></script>
	  
  </head>
  
  <body ng-controller="siteController" ui-sref="pa-site" spellcheck="false" ng-cloak>
	  
	  <div class="panel-section panel-section-header">
		  <div class="text-section-header">JSLoader at {{ hostname }}</div>
	  </div>
	  
	  <div class="panel-section">
		  <div class="panel-section-header" style="display: inline-block; width: 100%;">
			  
			  <dd-title val="'scripts_active'" text="'Included scripts'"></dd-title>
			  
			  <div ng-show="scripts_active">
			  
				  <div ng-if="info.site[0].scripts.length">
					  <div ui-view="site"></div>
				  </div>
				  
				  <div ng-if="info.subdomains.length">
					  <div ui-view="subdomains"></div>
				  </div>
				  
				  <div ng-if="info.groups.length">
					  <div ui-view="groups"></div>
				  </div>
				  
				  <div class="bottom-bucket" style="padding-left: 33%;margin-top: 30px;"> <!-- !!! center properly. -->
					  <button class="browser-style" ng-click="page.bg.showEditorForCurrentTab()" style="margin-left: 30px;z-index:999;"> Add Script </button>
				  </div>
			  
			  </div>

		  </div>
	  </div>

	  <div ui-view="group_mgr"></div>
	  <div ui-view="rules"></div>
	  
	  <script src="../deps/json/json-formatter.js"></script>
	  <script src="pa.js"></script>
	  
  </body>
  
</html>
