<head>
  
  <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' * 'unsafe-eval'; object-src 'self';">

  <link rel="stylesheet" href="chrome://browser/content/extension.css">
  <link rel="stylesheet" href="../deps/ng-tabs/tabs.css">
  <link rel="stylesheet" href="../styles/script-list.css">

  <link rel="stylesheet" href="../deps/angular-highlightjs-searchtext/build/release/angular-highlightjs-searchtext.min.css">

  <script src="../deps/jquery.min.js"></script>
  <script src="../deps/angular.min.js"></script>
  <script src="../deps/angular-ui-router.min.js"></script>
  <script src="../deps/highlightjs/highlight.min.js"></script>
  <script src="../deps/angular-highlightjs-searchtext/build/release/angular-highlightjs-searchtext.min.js"></script>
  <script src="../partials/partials.js"></script>

  <script src="../../utils/jsloader-utils.js"></script>
  <script src="../../utils/deps/async.min.js"></script>
  <script src="../../utils/deps/underscore-min.js"></script>
  <script src="../../utils/deps/EventEmitter/EventEmitter.min.js"></script>

</head>
