<div class="list-container">

  <h4> Globals  <bdi ng-show="globals.length" style="color:red" ng-click="toggleList()">{{ state }}</bdi> </h4>
  
  <ul ng-show="shown" ng-if="globals.length"> 
	<li ng-repeat="global in globals track by global.id">
	  
	  <label>
		
		<global-key global="global" uniq="getUniqName" mgr="mgr"></global-key>
		<global-validator global="global" mgr="mgr"></global-validator>
		<button ng-click="removeGlobal(global)"> - </button>
		
	  </label>
	  
	</li>
  </ul>

  <button id="add_global" ng-click="addGlobal($event)"> + </button>
  
</div><br></br>
