<li>
		  
  <json-formatter json="req.request" open="open_lvl" ng-click="req.toggleList($event)" urlclick="urlclick" style="display:block;" request="req"></json-formatter><br>
  <json-formatter json="req.responses" open="0" ng-show="req.visible" urlclick="urlclick" style="display:block;"></json-formatter><br ng-show="req.visible">
  
  <button class="browser-style jslbtn" ng-show="req.visible && !config" ng-click="showConfig()"> Config Request </button>
  <div ng-show="req.visible && config" style="display: inline-block;">
	<button class="browser-style jslbtn" ng-show="req.visible && !req.adding" ng-click="showRuleAdder(req)"> Add rule </button>
	<rule-adder style="display: inline-block;" req="req" add="persistRule" dismiss="dismissRule" ng-show="req.visible && req.adding"></rule-adder>
	<button class="browser-style jslbtn" ng-show="req.visible && !proxying" ng-click="showProxyOps(req)"> Set Proxy </button>
	<label ng-show="req.visible && proxying">
	  <span style="margin-left: 5px;"> <strong> Proxy through: </strong> </span>
	  <select class="browser-style" ng-model="currentProxy" ng-options="proxy for proxy in proxys" ng-change="proxyChange()"></select>
	  <button class="browser-style jslbtn" ng-click="dismissProxy()"> x </button>
	</label>
  </div>
  
  <div ng-show="req.visible && req.rules.length && !(req.adding || proxying)" class="rule-remover">
	<span class="filter-label"> <strong> Matching rules: </strong> </span>
	<select class="browser-style" ng-model="req.currentRule" ng-options="rule.id for rule in req.rules"></select>
	<button class="browser-style jslbtn" ng-click="remove(req)"> Remove </button>
	<button class="browser-style jslbtn" ng-click="toggle(req)"> {{ req.ruleStatus() }} </button>
  </div>
  
  <hr ng-show="req.visible"><br ng-show="req.visible">

</li>
