<div style="display: inline; width: 100%;" ng-mouseover="setHover(true);" ng-mouseleave="setHover(false);">
	<bdi ng-show="!editing" style="vertical-align: super;padding-right: 15px;" ng-class="$parent.locked ? 'text-disabled' : ''"> {{ displayName() }} <i> ({{ resource.type }}) </i>

		<div style="margin-left: 15px;display: inline-flex;">
			
			<div ng-show="hover" class="resource-add" style="border:0;margin-right: 5px;" ng-click="viewSelf()" style="margin-right: 5px;">
				<img src="../icons/16-eye.png" width="16px" height="16px"/>
			</div>
			<div ng-show="hover" class="resource-add" style="border:0; margin-right: 5px;" ng-click="editSelf()">
				<img src="../icons/edit-16.png" width="16px" height="16px"/>
			</div>
			<div ng-show="hover" class="resource-add" style="border:0; margin-right: 5px;" ng-click="pushSelf()">
				<img src="../icons/16-db.png" width="16px" height="16px"/>
			</div>
			
		</div>
		
	</bdi>

	<div style="width: 100%;" ng-show="editing">

		<input
			style="width: 20%;"
			class="browser-style"
			type="text"
			ng-change="resourceNameValidation()"
			ng-model="edit_name"/>
		
		<button
			style="margin-left: 15px;"
			class="browser-style"
			ng-disabled="in_progress"
			ng-show="resource.type.includes('text')"
			ng-click="editResource()">
			Edit Source
		</button>

		<button
			style="margin-left: 15px;"
			class="browser-style"
			ng-disabled="in_progress"
			ng-click="removeSelf()">
			Remove
		</button>
		
		<img src="../icons/ko_tick.png"
			width="20px"
			height="20px"
			ng-click="cancelEdit()"
			ng-disabled="in_progress"
			style="vertical-align: sub; margin-left: 15px;display: inline;"/>
		
	</div>
</div>
