<div>	
	<div>
		<dd-title val="'appdata_active'" text="'Storage'"></dd-title>
		
		<div ng-show="appdata_active" style="width: 100%;">

			<table style="display: table;width: 100%;" ng-if="page.bg.db.available">
				<thead>
					<th></th>
					<th></th>
					<th style="text-align: center;"> Connected </th>
					<th style="text-align: center;"> Readable </th>
					<th style="text-align: center;"> Writeable </th>
				</thead>
				<tbody style="display: table-row-group;">
					<tr>
						<td style="width: 20%;">
							<h2 style="margin: 0;margin-left: 50px;"> Data origin: </h2> <!-- float: right;margin-right: 135px; -->
						</td>
						<td style="width: 60%;">	
							<input
								style="width: 100%;"
								class="browser-style"
								id="data-origin-inpt"
								type="password"
								ng-model="string"
								ng-change ="validateConnection(string)"
								ng-disabled="in_progress"
								info-protected/>
						</td>
						<td style="text-align: center; width: 10%;padding: 55px">
							<div style="width: 40px;height: 40px;">
								<img src="../icons/ok_tick.png" ng-show="page.bg.db.connected && !page.bg.db.reconnecting" width="24px" height="24px">
								<img src="../icons/ko_tick.png" ng-show="!page.bg.db.connected && !page.bg.db.reconnecting" width="32px" height="32px">
								<img src="../icons/loading.gif" ng-show="page.bg.db.reconnecting" width="32px" height="32px">
							</div>
						</td>
						<td style="text-align: center; width: 10%;padding: 55px">
							<div style="width: 40px;height: 40px;">
								<img src="../icons/ok_tick.png" ng-show="page.bg.db.connected && page.bg.db.readable && !page.bg.db.reconnecting" width="24px" height="24px">
								<img src="../icons/ko_tick.png" ng-show="page.bg.db.connected && !page.bg.db.readable && !page.bg.db.reconnecting" width="32px" height="32px">
							</div>
						</td>
						<td style="text-align: center; width: 10%;padding: 55px">
							<div style="width: 40px;height: 40px;">
								<img src="../icons/ok_tick.png" ng-show="page.bg.db.connected && page.bg.db.writeable && !page.bg.db.reconnecting" width="24px" height="24px">
								<img src="../icons/ko_tick.png" ng-show="page.bg.db.connected && !page.bg.db.writeable && !page.bg.db.reconnecting" width="32px" height="32px">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
			<table style="display: table;width: 100%;" ng-if="domains.data.length || groups.data.length">
				<thead>
					<th></th>
					<th style="text-align: center;"> Name </th>
					<th style="text-align: center;"> Origin </th>
					<th style="text-align: center;"> Scripts </th>
					<th style="text-align: center;"> Sites </th>
					<th style="text-align: center;"> Actions </th>
				</thead>
				<tbody style="display: table-row-group;">
					
					<tr ng-repeat="domain in domains.data track by domain.name">
						<td>
							<h2 ng-if="!$index" style="margin: 0;margin-left: 50px;"> Domains: </h2>
						</td>
						<td style="text-align: center;">
							
							<bdi ng-if="!domain.name.includes('*')" ng-click="goToDomain(domain.name)" class="clickable-domain"> {{ domain.name }} </bdi>
							<bdi ng-if="domain.name.includes('*')"> {{ domain.name }} </bdi>
							
						</td>
						<td style="text-align: center;">
							<div ng-if="!domain.in_storage" class="origin-mark">DB</div>
							<div ng-if="domain.in_storage" class="origin-mark">ST</div>
						</td>
						<td style="text-align: center;">
							{{ domain.scripts }}
						</td>
						<td style="text-align: center;">
							{{ domain.sites }}
						</td>
						<td>
							<div style="text-align: center;">
								
								<are-u-sure
									ng-disabled="page.bg.db.reconnecting"
									ng-show="page.bg.db.removeable || domain.in_storage"
									text="'Remove'"
									action="removeItem(domain.name, 'domain')">
								</are-u-sure>
								
								<button ng-if="page.bg.db.writeable && domain.in_storage"
									ng-disabled="page.bg.db.reconnecting"
									class="browser-style"
									ng-click="moveToDb(domain, 'domain')"> Move to DB 
								</button>

								<button ng-if="page.bg.db.readable && !domain.in_storage"
									ng-disabled="page.bg.db.reconnecting"
									class="browser-style"
									ng-click="importToST(domain, 'domain')"> Import to ST 
								</button>
								
							</div>
						</td>
					</tr>
					<tr ng-if="domains.total > 5" paginator pag-big feeding="page.bg.domain_mgr.getSlice", slice="5" actual="domains.actual" total="domains.total" parent="newDomains"></tr>
					<tr ng-if="domains.total <= 5" pag-big></tr>
					<br>
					<tr ng-repeat="group in groups.data track by group.name">
						<td>
							<h2 ng-if="!$index" style="margin: 0;margin-left: 50px;"> Groups: </h2>
						</td>
						<td style="text-align: center;">
							{{ group.name }}
						</td>
						<td style="text-align: center;">
							<div ng-if="!group.in_storage" class="origin-mark">DB</div>
							<div ng-if="group.in_storage" class="origin-mark">ST</div>
						</td>
						<td style="text-align: center;">
							{{ group.scripts }}
						</td>
						<td style="text-align: center;">
							{{ group.sites }}
						</td>
						<td style="text-align: center;">
							<div style="text-align: center;">
								<!-- if removeable or item live in storage -->
								<are-u-sure
									ng-disabled="page.bg.db.reconnecting"
									ng-show="page.bg.db.removeable || group.in_storage"
									text="'Remove'"
									action="removeItem(group.name, 'group')">
								</are-u-sure>
								
								<button ng-if="page.bg.db.writeable && group.in_storage"
									ng-disabled="page.bg.db.reconnecting"
									class="browser-style"
									ng-click="moveToDb(group, 'group')"> Move to DB 
								</button>

								<button ng-if="page.bg.db.readable && !group.in_storage"
									ng-disabled="page.bg.db.reconnecting"
									class="browser-style"
									ng-click="importToST(group, 'group')"> Import to ST 
								</button>
								
							</div>
						</td>
					</tr>
					<tr ng-if="groups.total > 5" paginator feeding="page.bg.group_mgr.getSlice", slice="5" actual="groups.actual" total="groups.total" parent="newGroups"></tr>
				</tbody>
			</table>
			<no-info ng-if="!domains.data.length && !groups.data.length" style="padding-top: 6%;"></no-info>
			<div style="text-align: center;margin-top: 25px;">
				<input-file
					ng-file-selected="importData"
					text="'Import Data'">
				</input-file>
				<button class="browser-style"
					ng-if="domains.data.length || groups.data.length"
					ng-click="exportData()"> Export Data
				</button>
				<are-u-sure
					ng-if="domains.data.length || groups.data.length"
					text="'Clear Storage'"
					padding="35"
					action="clearStoredData()">
				</are-u-sure>
				<button class="browser-style"
					ng-click="editUserDefs()"> Edit User Defs
				</button>
			</div>
			
		</div>
	</div>
</div>
