<div>	
	<div>
		<dd-title val="'appdata_active'" text="'Storage'"></dd-title>
		
		<div ng-show="appdata_active" style="width: 100%;">

			<table style="display: table;width: 100%;" ng-if="domains.length || groups.length">
				<thead>
					<th></th>
					<th style="text-align: center;"> Name </th>
					<th style="text-align: center;"> Scripts </th>
					<th style="text-align: center;"> Resources / Sites </th>
					<th style="text-align: center;"> Actions </th>
				</thead>
				<tbody style="display: table-row-group;">
					<tr ng-repeat="domain in domains track by domain.name">
						<td>
							<h2 ng-if="!$index" style="margin: 0;margin-left: 50px;"> Domains: </h2>
						</td>
						<td style="text-align: center;">
							{{ domain.name }}
						</td>
						<td style="text-align: center;">
							{{ domain.scripts }}
						</td>
						<td style="text-align: center;">
							{{ domain.sites }}
						</td>
						<td>
							<div style="text-align: center;">
								
								<button ng-if="!domain.isSubdomain()" class="browser-style"
									ng-click="goToDomain(domain.name)"> Go
								</button>
								<are-u-sure
									text="'Remove'"
									action="removeItem(domain.name, 'domain')">
								</are-u-sure>
								<button ng-if="data_origin.writeable && !data_origin.reconnecting"
									class="browser-style"
									ng-click="pushItem(domain.name, 'domain')"> Push to DB 
								</button>
								
							</div>
						</td>
					</tr><br>
					<tr ng-repeat="group in groups track by group.name">
						<td>
							<h2 ng-if="!$index" style="margin: 0;margin-left: 50px;"> Groups: </h2>
						</td>
						<td style="text-align: center;">
							{{ group.name }}
						</td>
						<td style="text-align: center;">
							{{ group.scripts }}
						</td>
						<td style="text-align: center;">
							{{ group.sites }}
						</td>
						<td style="text-align: center;">
							<div style="text-align: center;">
								<are-u-sure
									text="'Remove'"
									action="removeItem(group.name, 'group')">
								</are-u-sure>
								<button ng-if="data_origin.writeable && !data_origin.reconnecting"
									class="browser-style"
									ng-click="pushItem(group.name, 'group')"> Push to DB 
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<no-info ng-if="!domains.length && !groups.length" style="padding-top: 6%;"></no-info>
			<div style="text-align: center;margin-top: 25px;">
				<label for="import_data"
					<bdi> Import Data </bdi>
					<input
						class="browser-style"
						id="import_data"
						ng-on-change="importData()"
						type="file"/>
				</label>
				<button class="browser-style"
					ng-if="domains.length || groups.length"
					ng-click="exportData()"> Export Data
				</button>
				<button class="browser-style"
					ng-if="data_origin.writeable && (domains.length + groups.length > 1) && !data_origin.reconnecting"
					ng-disable="data-origin.reconnecting"
					ng-click="pushItem()"> Push all to DB
				</button>
				<are-u-sure
					ng-if="domains.length || groups.length"
					text="'Clear Storage'"
					padding="35"
					action="clearStoredData()">
				</are-u-sure>
				<button class="browser-style"
					ng-click="editUserDefs()"> Edit User Defs
				</button>
			</div>
			
		</div>
	</div>
</div>
