<div class="panel-section">
	
	<div class="panel-section-header">
		
		<dd-title val="'appdb_active'" text="'Database'"></dd-title>

		<div ng-show="appdb_active">

			<div class="browser-style" style="width: 90%;">
				
				<table style="display: table;">
					<thead>
						<th></th>
						<th></th>
						<th style="text-align: center;"> Connected </th>
						<th style="text-align: center;"> Readable </th>
						<th style="text-align: center;"> Writeable </th>
					</thead>
					<tbody style="display: table-row-group;">
						<tr>
							<td style="width: 20%;">
								<h2 style="float: right;margin-right: 100px;"> Data origin: </h2>
							</td>
							<td style="width: 60%;">	
								<input
									style="width: 100%;"
									class="browser-style"
									id="data-origin-inpt"
									type="text"
									ng-model="data_origin.string"
									ng-change ="validateConnection()"
									ng-disabled="in_progress"/>
							</td>
							<td style="text-align: center; width: 10%;padding: 55px">
								<div style="width: 40px;height: 40px;">
									<img src="../icons/ok_tick.png" ng-show="data_origin.connected && !data_origin.reconnecting" width="24px" height="24px">
									<img src="../icons/ko_tick.png" ng-show="!data_origin.connected && !data_origin.reconnecting" width="32px" height="32px">
									<img src="../icons/loading.gif" ng-show="data_origin.reconnecting" width="32px" height="32px">
								</div>
							</td>
							<td style="text-align: center; width: 10%;padding: 55px">
								<div style="width: 40px;height: 40px;">
									<img src="../icons/ok_tick.png" ng-show="data_origin.connected && data_origin.readable && !data_origin.reconnecting" width="24px" height="24px">
									<img src="../icons/ko_tick.png" ng-show="data_origin.connected && !data_origin.readable && !data_origin.reconnecting" width="32px" height="32px">
								</div>
							</td>
							<td style="text-align: center; width: 10%;padding: 55px">
								<div style="width: 40px;height: 40px;">
									<img src="../icons/ok_tick.png" ng-show="data_origin.connected && data_origin.writeable && !data_origin.reconnecting" width="24px" height="24px">
									<img src="../icons/ko_tick.png" ng-show="data_origin.connected && !data_origin.writeable && !data_origin.reconnecting" width="32px" height="32px">
								</div>
							</td>
						</tr>
						<tr ng-show="data_origin.connected && data_origin.readable">
							<td style="width: 20%;">
								<h2 style="float: right;margin-right: 100px;"> Query DB: </h2>
							</td>
							<td style="width: 60%;">
								<input
									id="querydb"
									style="width: 100%;"
									class="browser-style"
									type="text"
									ng-model="db_query"
									ng-change ="dbQuery()"
									ng-disabled="data_origin.reconnecting"/>
							</td>
							<td style="width: 10%;"></td>
							<td style="width: 10%;"></td>
							<td style="width: 10%;"></td>
						</tr>
						<tr ng-repeat="record in query_results track by record.name">
							<td style="width: 20%;"></td>
							<td style="width: 60%;">
								
								<bdi style="float: left;margin-right: 100px;min-width: 120px;"> {{ record.type }} </bdi>
								<strong> {{ record.name }} </strong>
								<bdi> ( scripts: {{ record.scripts }}, sites: {{ record.sites }} ) </bdi>
								
							</td>
							<td style="width: 10%;text-align: center;">
								<button
									ng-if="data_origin.readable"
									class="browser-style"
									ng-click="updateFromDB(record)"
									style="z-index:999;">
									Update from DB
								</button>
							</td>
							<td style="width: 10%;">  </td>
							<td style="width: 10%;">  </td>
						</tr>
						<tr style="height: 30px;"></tr>
						<tr ng-if="data_origin.readable">
							<td style="width: 20%;"></td>
							<td style="width: 100%;text-align: center;">
								<div style="text-align: center;" ng-show="query_results.length">
									<button
										class="browser-style"
										ng-click="updateFromDB()"
										ng-show="query_results.length > 1"
										style="z-index:999;">
										Bring all
									</button>
									<button
										class="browser-style"
										ng-click="query_results.length = 0"
										style="z-index:999;">
										Flush results
									</button>
								</div>
							</td>
							<td style="width: 10%;"></td>
							<td style="width: 10%;"></td>
							<td style="width: 10%;"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
