<div ng-if="domains.length">
  <div class="panel-section" ng-repeat="domain in domains track by domain.name" ng-if="domain.haveData()">
	
	<h4> {{domain.name}} </h4>
	
	<script-list ng-if="domain.scripts.length"
				 list="domain.scripts"
				 parent="domain"
				 port="port"
				 editor="page.bg.editor_mgr.openEditorInstanceForScript"
				 shown="shown"
				 pa="page.bg.tabs_mgr.updatePA"
				 opts="page.bg.option_mgr.editor">
	</script-list>
	
	<script-list ng-repeat="site in domain.sites"
				 ng-if="site.scripts.length"
				 list="site.scripts"
				 parent="site"
				 port="port"
				 editor="page.bg.editor_mgr.openEditorInstanceForScript"
				 shown="shown"
				 pa="page.bg.tabs_mgr.updatePA"
				 opts="page.bg.option_mgr.editor">
	</script-list>
	
  </div>
</div>

<no-info ng-if="!domains.length"></no-info>
