<div class="panel-section">
	
	<div class="panel-section-header">
		
		<dd-title val="'editor_active'" text="'Editor settings'"></dd-title>
		
		<div style="margin-top: 25px;" ng-show="editor_active">
		
			<label ng-repeat="opt in opts track by opt.id" for="{{opt.id}}" class="browser-style" style="margin-left: 25px;">
				
				<bdi class="browser-style" ng-if="['text', 'select'].includes(opt.type)"> {{opt.text}}: </bdi>
				
				<input
					id="{{opt.id}}"
					class="browser-style"
					ng-if="'select' != opt.type"
					type="{{opt.type}}"
					ng-model="opt.value"
					ng-change="opt.change(opt)">
				
				<bdi ng-class="opt.value ? 'browser-style pressed' : 'browser-style'" ng-if="'checkbox' == opt.type"> {{opt.text}} </bdi>
				<select id="{{opt.id}}" class="browser-style" ng-if="'select' == opt.type && 'theme' == opt.id" ng-model="opt.value" ng-options="theme for theme in themes" ng-change="opt.change(opt)"></select>
				<select id="{{opt.id}}" class="browser-style" ng-if="'select' == opt.type && 'font' == opt.id" ng-model="opt.value" ng-options="font for font in fonts" ng-change="opt.change(opt)"></select>
			
			</label>
			<ace-inline h="260" w="1024" style="margin-left: 15%;"></ace-inline>

			<div style="text-align: center;">
				<button class="browser-style"
					ng-click="persistEditor()"
					style="z-index:999;"> Persist editor
				</button>
			</div>
			
		</div>
	</div>
</div>
