<div ng-if="groups.length">
	<div class="panel-section" ng-repeat="group in groups track by group.name" ng-if="!group.isEmpty()">
		
		<group-list ng-if="!group.isEmpty()"
			scripts="group.scripts"
			parent="group"
			port="port"
			editor="page.bg.editor_mgr.openEditorInstanceForScript"
			shown="shown"
			pa="page.bg.tabs_mgr.updatePA"
			opts="page.bg.option_mgr.editor"
			sites="group.sites"
			parent="group"
			mgr="page.bg.group_mgr">
		</group-list>
		
	</div>
</div>
<no-info ng-if="!groups.length"></no-info>
