<style>
  th, td {
  text-align: center;
  padding: 10px;
  }
</style>
<div id="logs">

  <table ng-if="logs.length" class="browser-style">

	<tr>
	  <th><strong>Timestamp</strong></th>
	  <th><strong>Offender ID</strong></th>
	  <th><strong>Offender name</strong></th>
	  <th><strong>At</strong></th>
	  <th><strong>Message</strong></th>
	  <th><strong>Location</strong></th>
	  <th><strong>Open in editor</strong></th>
	</tr>
	
	<tr ng-repeat="log in logs">
	  <td>
		{{ log.stamp }}
	  </td>
	  <td>
		{{ log.offender }}
	  </td>
	  <td>
		{{ log.name }}
	  </td>
	  <td>
		{{ log.at }}
	  </td>
	  <td>
		{{ log.message }}
	  </td>
	  <td>
		[{{ log.line }}, {{ log.col }}]
	  </td>
	  <td>
		<button ng-click="page.bg.logs_mgr.openOffender(log.parent, log.offender)" class="browser-style"> Open </button>
	  </td>
	</tr>
	
  </table>

  <button ng-if="logs.length" ng-click="page.bg.logs_mgr.flushLogs()" class="browser-style"> Remove Logs </button>

  <no-info ng-if="!logs.length"></no-info>
  
</div>
