<div class="panel-section">
	
	<div class="panel-section-header">
		
		<dd-title val="'proxy_active'" text="'Proxy list'"></dd-title>

		<div ng-show="proxy_active">
			
			<div style="margin-top: 25px; width: 80%; margin-left: 5%;">

				<table style="margin-bottom: 30px; display: table;" class="browser-style" ng-show="proxys.length">
					<thead>
						<th style="min-width: 30%;">
							JSL name
						</th>
						<th>
							Host
						</th>
						<th>
							Port
						</th>
						<th>
							Type
						</th>
						<th>
							Remove
						</th>
					</thead>
					<tbody style="display: table-row-group;">
						
						<tr ng-repeat="proxy in proxys" class="browser-style" style="width: 100%;">
							
							<td class="browser-style" style="min-width: 30%;">

								<input

									class="browser-style"
									type="text"
									ng-model="proxy.name"
									ng-change="proxyChange(proxy)" style="width: 100%;">
							</td>
							
							<td class="browser-style" style="margin-left: 5px;">
								
								<input

									class="browser-style"
									type="text"
									ng-model="proxy.host"
									ng-change="proxyChange(proxy)" style="width: 100%;">
							</td>
							
							<td class="browser-style" style="margin-left: 5px;">
								
								<input

									class="browser-style"
									type="text"
									ng-model="proxy.port"
									ng-change="proxyChange(proxy)" style="width: 100%;">
							</td>
							
							<td class="browser-style" style="margin-left: 5px;">
								
								<input
									
									class="browser-style"
									type="text"
									ng-model="proxy.type"
									ng-change="proxyChange(proxy)" style="width: 100%;">
							</td>

							<td class="browser-style" style="margin-left: 5px;text-align: center;">
								
								<button style="border: 0; background: transparent;"
									ng-click="removeProxy($index)"
									style="z-index:999;">
									<img src="../icons/ko_tick.png" width="24px" height="24px">
								</button>
								
							</td>
						</tr>
					</tbody>
				</table>				
			</div>
			
			<div style="text-align: center;">
				<button class="browser-style"
					ng-click="addProxy()"
					style="z-index:999;"> Add proxy
				</button>
				<button class="browser-style"
					ng-click="persistProxys()"
					style="z-index:999;"> Persist proxys
				</button>
			</div>
			
		</div>
	</div>
</div>
