<div id="rules_head" class="panel-section-header panel-section">
  <div class="text-section-header">{{title}}
	<label class="input_import" style="float:right;">
	  <input id="import_scripts" class="browser-style" type="file"></input>
	</label>
	<button style="float:right;" class="browser-style" ng-show="import_button" ng-click="applyImport()"> Apply changes </button>
  </div>
</div>

<div class="panel-section">
  
  <h4> Proxy Rules <bdi style="color:red" ng-click="toggleProxy()"> {{ statusProxy() }} </bdi></h4>
  
  <ul ng-if="proxy_rules.length" ng-show="proxy_shown">
	<li ng-repeat="proxy_rule in proxy_rules track by proxy_rule.host">
	  
	  <a-proxy-rule rule="proxy_rule" pnames="names" mgr="mgr"></a-proxy-rule>
	  
	</li>
  </ul>
  
  <button class="browser-style" ng-click="addProxyRule()" ng-show="proxy_shown"> {{ proxy_rules.length ? "+" : "New Proxy Rule" }} </button>
</div>

<div class="panel-section">
  
  <h4> Request Rules <bdi style="color:red" ng-click="toggleReq()"> {{ statusReq() }} </bdi></h4>
  
  <ul ng-if="rules.length" ng-show="req_shown">
	<li ng-repeat="rule in rules track by rule.id">
	  
	  <a-rule rule="rule"></a-rule>
	  
	</li>
  </ul>
  
  <button class="browser-style" ng-click="addRule()" ng-show="req_shown"> {{ rules.length ? "+" : "New Rule" }} </button>
</div>
