<form ng-submit="updtOpts()">
  
  <div class="panel-section">
	<div id="settings_head" class="panel-section-header">
	  <div class="text-section-header"> {{title}}
	  <label class="input_import" style="float:right;">
		<input id="import_settings" type="file"></input>
	  </label>
	  </div>
	</div>
  </div><br></br>
  
  <table>
	<thead></thead>
	<tbody>
	  <tr>
		<td class="option-col" ng-repeat="submenu in submenus">
		  
		  <option-menu list="submenu.opts" title="submenu.title" key="submenu.key" port="port"></option-menu>
		  
		  <label class="input" ng-if="submenu.key == 'editor'">
			
			<span> Editor theme: </span>
			<select ng-model="page.themes.current" ng-options="theme.name group by theme.title for theme in page.themes.list" ng-change="page.themes.themeChange()"></select>
			
		  </label><br></br>
		  
		</td>
	  </tr>
	</tbody>
  </table>

  <div class="opt-submit-outter">
	<div class="opt-submit-inner">
	  <input type="submit" value="Save Options" class="browser-style jsload-button"></input>
	</div>
  </div>
  
</form>
