<form ng-submit="updtOpts()">
  	<table>
		<thead></thead>
		<tbody>
			<tr>
				<td class="option-col" style="min-width: 350px; width: 475px;">
					<div id="jsl_head">
  						<h4>JSL Settings</h4>
					</div>
					
					<h5> Proxys <bdi style="color:red" ng-click="toggleProxys()"> {{ statusProxys() }} </bdi></h5>
					<ace-inline feeding="'proxys'" h="10" w="100" ng-show="proxys_shown"></ace-inline>
					
				</td>
				<td class="option-col" ng-repeat="submenu in submenus">
					
					<option-menu list="submenu.opts" title="submenu.title" key="submenu.key" port="port"></option-menu>
					
					<label class="input" ng-if="submenu.key == 'editor'">
						
						<span> Editor theme: </span>
						<select ng-model="page.themes.current" ng-options="theme.name group by theme.title for theme in page.themes.list" ng-change="page.themes.themeChange()"></select>
						
					</label><br></br>
				</td>
				<td class="option-col" style="min-width: 350px; width: 600px;">
					<div id="jsl_head">
  						<h4>Input/output</h4>
					</div>
					
					<div id="input_output" class="panel-section">
						<div class="browser-style" style="display: inline-block;">
							<p style="float:left;">Import app data:</p>
							<input id="import_app" type="file" style="padding-left: 10px; width: 50%;"></input>
							<table style="float:right; width: 25% !important;">
								<thead></thead>
								<tbody style="float:right;">
									<tr style="float:right;">
										<td>
											<button class="browser-style" ng-click="AppExport($event)"> Export app </button>
										</td>
									</tr>
									<tr style="float:right;">
										<td>
											<button class="browser-style" ng-show="import_app_button" ng-click="applyAppImport($event)"> Apply changes </button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div id="data_origin" class="browser-style" style="margin-top: 50px;" ng-show="data_origin_ok">
						<input id="data-origin-inpt" type="text" value="{{opts.jsl.data_origin}}"></input>
						<label style="float:left;padding-right: 20px;">Data origin: </label>
					</div>
					
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="opt-submit-outter">
		<div class="opt-submit-inner">
			<button type="submit" class="browser-style">Save settings</button>
		</div>
	</div>
  
</form>
