<!DOCTYPE html>

<html>
  <head>
	
	  <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' * 'unsafe-eval'; object-src 'self'; img-src 'self';">
	  <link rel="stylesheet" href="chrome://browser/content/extension.css">
	  <link rel="stylesheet" href="editor.css"/>
	  <link rel="stylesheet" href="../styles/jsl.css"/>

	  <script src="../deps/jquery.min.js"></script>
	  <script src="../deps/angular.min.js"></script>
	
	  <script src="../deps/shortcut.js"></script>
	  <script src="../deps/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	  <script src="../../utils/jsloader-utils.js" type="text/javascript" charset="utf-8"></script>
	  <script src="../partials/partials.js"></script>
	
	  <script src="../../utils/deps/EventEmitter/EventEmitter.min.js"></script>
	  
  </head>
  
  <body spellcheck=false ng-controller="editorController" ng-click="buttonToggle($event)" ng-cloak>

	  <!-- ng-if fails here ¿¿?? -->
	  <div ng-show="editor.script.parent" id="dropdown-header">
		  <drop-down shown="'editor_collapsed'" flipped="true"></drop-down>
	  </div>
	  
	  <div id="editor-header" class="panel-section panel-section-header">
		  <div class="text-section-header" style="display: inline-block;width: 100%"> <script-name script="script" onlyval="true" style="width: 15%;display: inline-block;"></script-name> || 
			  
			  <div style="width: 80%;display: inline-block">
				  <bdi id="user_action" class="bold" style="display: inline; width: 20%;margin-right: 10px;"> Script for: </bdi>
				  
				  <site-validator id="site_validator" style="display: inline-block; width: 80%;margin: 0;" ng-if="!script.parent.isGroup()" ev="page.events" url="url"></site-validator>
				  <group-chooser style="display: inline-block; width: 80%;margin: 0;" ng-if="script.parent.isGroup()" ev="page.events" validating="script.getParentName()" groups="groups_copy"></group-chooser>
				  
			  </div>
		  </div>
	  </div>
	  
	  <div id="code_container" class="panel-section">
		  
		  <pre id="code_area"> {{script.code}} </pre>
		  
	  </div>
	    
	  <div id="btns_panel" class="panel-section hidden-elem" ng-mouseenter="buttonToggle()" style="z-index: 99999999999999999999999;">
		  
		  <button ng-repeat="button in buttons.arr"
			  ng-if="button.available"
			  ng-disabled="buttons.disabled"
			  id="button.id"
			  class="hidden-elem browser-style mright jsload_button"
			  ng-click="button.click()">

			  {{button.text}}
			  
		  </button>
	  </div>
	  
	  <script src="editor.js"></script>
	  
  </body>
</html>
