<!DOCTYPE html>

<html>
  <head>
	
	  <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' * 'unsafe-eval'; object-src 'self'; img-src 'self';">
	  <link rel="stylesheet" href="chrome://browser/content/extension.css">
	  <link rel="stylesheet" href="editor.css"/>
	  <link rel="stylesheet" href="../styles/jsl.css"/>

	  <script src="../deps/jquery.min.js"></script>
	  <script src="../deps/angular.min.js"></script>
	
	  <script src="../deps/shortcut.js"></script>
	  <script src="../deps/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	  <script src="../../utils/jsloader-utils.js" type="text/javascript" charset="utf-8"></script>
	  <script src="../partials/partials.js"></script>
	
	  <script src="../../utils/deps/EventEmitter/EventEmitter.min.js"></script>
	  
  </head>
  
  <body spellcheck=false ng-controller="editorController" ng-cloak>

	  <!-- ng-if fails here ¿¿?? -->
	  <div class="dropdown-header" ng-mouseenter="buttonToggle()" style="height:30px;width:30px;">
		  <div ng-show="editor.script.parent" id="dropdown-header">
			  <drop-down shown="'editor_collapsed'" flipped="true"></drop-down>
		  </div>
	  </div>

	  <!-- ¿button toggle on ng-mouseenter here? -->
	  <div id="editor-header" class="panel-section panel-section-header">
		  <div class="text-section-header" style="display: inline-block;width: 100%">
			  
			  <script-name script="script" ng-if="!script.parent.isResource()" onlyval="true" style="width: 15%;display: inline-block;"></script-name>
			  <bdi ng-if="script.parent.isResource()"> Resource </bdi> ||
			  
			  <div style="width: 80%;display: inline-block">
				  <bdi ng-if="!script.parent.isResource()" id="user_action" class="bold" style="display: inline; width: 20%;margin-right: 10px;"> Script for: </bdi>
				  <bdi ng-if="script.parent.isResource()" id="user_action" style="display: inline; width: 20%;margin-right: 0;margin-left: 15px;font-size: 80%;"> {{ script.parent.getParentName() }} </bdi>
				  
				  <site-validator
					  id="site_validator"
					  style="display: inline-block; width: 80%;margin: 0;"
					  ng-if="!script.parent.isGroup() && !script.parent.isResource()"
					  ev="page.events"
					  url="url"></site-validator>
				  
				  <group-chooser
					  style="display: inline-block; width: 80%;margin: 0;"
					  ng-if="script.parent.isGroup() && !script.parent.isResource()"
					  ev="page.events"
					  validating="script.getParentName()"
					  groups="groups_copy"></group-chooser>

				  <resource-name
					  style="display: inline-block; width: 30%;margin: 0;"
					  ng-if="script.parent.isResource()"
					  ev="page.events"
					  name="resource_name"></resource-name>
				  
			  </div>
		  </div>
	  </div>
	  
	  <div id="code_container" class="panel-section">
		  
		  <pre id="code_area"> {{script.code}} </pre>
		  
	  </div>
	    
	  <div id="btns_panel" class="panel-section hidden-elem" ng-mouseenter="buttonToggle()" style="z-index: 99999999999999999999999;">
		  
		  <button ng-repeat="button in buttons.arr"
			  ng-show="button.available"
			  ng-disabled="buttons.disabled"
			  id="button.id"
			  class="hidden-elem browser-style mright jsload_button"
			  ng-click="button.click()">

			  {{button.text}}
			  
		  </button>
		  
	  </div>

	   <div ng-class="settings_shown ? 'settings-panel' : 'settings-panel settings-panel-hidden'" style="padding-top: 15px;">
		   
		   <editor-settings rows="true" opts="opts" on-change="onOptChange"></editor-settings>
		   
	   </div>

	   <div id="settings_btn" ng-mouseenter="buttonToggle()" class="settings-button">
		   <img
			   id="settings_img"
			   class="hidden-elem"
			   ng-show="!settings_hover"
			   style="outline: none;"
			   src="../icons/settings_gears.png"
			   width="48px"
			   height="48px"
			   ng-mouseenter="settingsSrc(true)"
			   ng-mouseleave="settingsSrc(false)"
			   ng-click="toggleSettings()">
	   </div>
	   
	  <script src="editor.js"></script>
	  
  </body>
</html>
