.ddbutton-shown {

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	vertical-align: text-bottom;
}

.ddbutton-shown:hover {

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	
}

.ddbutton-hidden {

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	vertical-align: text-bottom;
}

.ddbutton-hidden:hover {

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);

}

.pressed {
	background-color: #ebebeb;
}

.text-section-header-mod {
	
	align-self: center;
	font-size: 1.2em;
	font-weight: lighter;
	padding: 15px;
}

.noInfoContainer {
	
	height: 60%;
	background-color: 'lightgrey';
	width: 100%;
	color: #a3a3c2;
	font-size: 250%;
	text-align: center;
	padding-bottom: 10%;
}

li.resource-dir {
	list-style-type: none;
	margin: 0 !important;
}

li.resource-item {
	list-style-type: none;
}

div.resource-add {
	display: inline-flex;
	text-align: center;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	padding: 0 7px 0 5px;
	background-color: #fbfbfb;
}

div.resource-add > img {
	
    margin:auto;
	padding-bottom: 1px;
}

div.resource-add:hover {
	background-color: #ebebeb;
}

div.resource-add::before {
	content: ' ';
}

div.resource-add::after {
	content: ' ';
}

input[type=checkbox] {

	opacity: 0;
    position: absolute;
}

span.checkmark {

	position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
	cursor: pointer;
}

span.checkmark:hover {

	background-color: #ebebeb;
	
}

input[type=checkbox]:checked+.checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 10px;
    height: 10px;
	margin: auto;
    background-color: #666;
}

img.paginator {

	-moz-transition: all 0.2s ease;

}

img.paginator:hover {

	transform: scale(1.3);
	
}

tr[pag-big] {

	height: 60px;
}

td.page-ref {

	font-size: 75%;
	text-align: center;

}

td.page-ref-small {

	font-size: 70%;
	text-align: center;

}

bdi.clickable-domain:hover {

	text-decoration: underline;
	cursor: pointer;
}

div.origin-mark {

	width: 24px;
	height: 24px;
	background-color: darkgray;
	color: white;
	text-align: center;
	padding-top: 2px;
	margin: auto;
}

div.origin-mark-sm {

	width: 18px;
	height: 16px;
	background-color: darkgray;
	color: white;
	text-align: center;
	padding-top: 1px;
	margin: auto;
	font-size: 80%;
}

div.origin-mark-sm:hover {
	cursor: pointer;
}