.ddbutton-shown {

	/* None of those seems to be correctly interpreted by the browser ...*/
	
	/* outline-style: solid; */
	/* outline-color: white; */
	/* outline-width: 1px; */
	/* outline: 1px hidden white; */
	
	-moz-transition: all 0.5s ease;
	vertical-align: text-bottom;
}

.ddbutton-shown:hover {
	
	-moz-transform: rotate(-90deg);
	
}

.ddbutton-hidden {
	
	-moz-transition: all 0.5s ease;
	vertical-align: text-bottom;
}

.ddbutton-hidden:hover {

	-moz-transform: rotate(90deg);

}

.pressed {
	background-color: #ebebeb;
}

.text-section-header-mod {
	
	align-self: center;
	font-size: 1.2em;
	font-weight: lighter;
	padding: 15px;
}

.noInfoContainer {
	
	height: 60%;
	background-color: 'lightgrey';
	width: 100%;
	color: #a3a3c2;
	font-size: 250%;
	text-align: center;
	/* padding-top: 10%; */
	padding-bottom: 10%;
}