<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="options.css"/>
		<link rel="stylesheet" href="../deps/highlightjs/default.min.css">
		<link rel="stylesheet" href="chrome://browser/content/extension.css">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
		
		<script src="../deps/jquery.min.js"></script>
		<script src="../deps/highlightjs/highlight.min.js"></script>
		<!-- <script src="../deps/handlebars.js"></script> -->
		<script src="../deps/angular.min.js"></script>
		
		<script src="options.js"></script>
		
	</head>
	
	<body>

		<div id="content" class="panel-section">

			<div ng-controller="editorController as editor" class="panel-section" ng-cloak>
				
				<div class="panel-section" >
					<div id="settings_head" class="panel-section panel-section-header">
						<div class="text-section-header"> {{title}} </div>
					</div>
				</div><br>
				
				<div id="form-container" class="panel-section">
					
					<form ng-submit="updtOpts()">
						
						<label ng-repeat="opt in boolOpts" class="checkbox-input">
							<input type="checkbox" ng-model="opt.value">
							<span>{{opt.text}}</span>
						</label><br>

						<label ng-repeat="opt in textOpts" class="{{opt.type}}-input">
							<span>{{opt.text}}: </span>
							<input type="text" ng-model="opt.value">
						</label><br>
								
						<bdi id="theme-selector"> Editor theme: </bdi>
						<select ng-model="currTheme" ng-options="theme for theme in themes" ></select><br><br>
						
						<input type="submit" value="Save Options" class="browser-style jsload-button">
						
					</form>
					
				</div>
				
			</div>
			
			<div ng-controller="scriptsController" class="panel-section" ng-cloak>

				<div class="panel-section" >
					<div id="scripts_head" class="panel-section panel-section-header">
						<div class="text-section-header">{{title}}</div>
					</div>
				</div><br>
				
				<div ng-repeat="domain in domains">
					
					<h4> {{domain.name}} </h4>
					<div id="{{domain.name}}_bucket" class="panel-section">
						
						<ul id="{{domain.name}}_sites"> <!-- class="panel-section-list" -->

							<li class="site-list" ng-click="clickSite($event)"> <!-- panel-list-item -->
								<bdi class="path-name">/*</bdi><br>
								<ul class="script-list"> <!-- panel-section-list -->
									
									<li class="script-bucket hidden-elem" ng-repeat="script in domain.scripts" ng-click="clickScript($event)"> <!-- panel-list-item -->
										<bdi class="code-uuid hidden-elem"> {{script.uuid.split("-").pop()}} </bdi>
										<div id="{{script.uuid}}" class="code-bucket hidden-script">
											<pre class="hidden-script"><code class="lang-js"> {{script.code}} </code></pre>
											<table class="btn-panel hidden-script">
												<tr align="center">
													<td class="left">
														<button id="edit-btn_{{script.uuid}}" class="browser-style mright edit-script hidden-script" data-domain="{{domain.name}}" ng-click="editScript($event)"> Edit </button>
													</td>
													<td class="right">
														<button id="remove-btn_{{script.uuid}}" class="browser-style mright remove-script hidden-script" data-domain="{{domain.name}}" ng-click="removeScript($event)"> Remove </button>
													</td>
												</tr>
											</table>
										</div><br>
									</li>
									
								</ul>
							</li>
							
							<li class="site-list" ng-repeat="site in domain.sites" ng-click="clickSite($event)"> <!-- panel-list-item -->
								<bdi class="path-name">{{site.url}}</bdi><br>
								<ul class="script-list"> <!-- panel-section-list -->
									
									<li class="script-bucket hidden-elem" ng-repeat="script in site.scripts" ng-click="clickScript($event)"> <!-- panel-list-item -->
										<bdi class="code-uuid hidden-elem"> {{script.uuid.split("-").pop()}} </bdi>
										<div id="{{script.uuid}}" class="code-bucket hidden-script">
											<pre class="hidden-script"><code class="lang-js"> {{script.code}} </code></pre>
											<table class="btn-panel hidden-script">
												<tr align="center">
													<td class="left">
														<button id="edit-btn_{{script.uuid}}" class="browser-style mright edit-script hidden-script" data-domain="{{domain.name}}" ng-click="editScript($event)"> Edit </button>
													</td>
													<td class="right">
														<button id="remove-btn_{{script.uuid}}" class="browser-style mright remove-script hidden-script" data-domain="{{domain.name}}" ng-click="removeScript($event)"> Remove </button>
													</td>
												</tr>
											</table>
										</div><br>
									</li>
									
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="panel-section-separator"> </div>
					
				</div>

				<!-- Dirty trick to highlight code after DOM is ready ==> https://stackoverflow.com/questions/12304291/angularjs-how-to-run-additional-code-after-angularjs-has-rendered-a-template -->
				<span ng-show="highLightCode()"></span>
				
			</div>
		</div>
		
	</body>
</html>
