<!DOCTYPE html>

<html>
  <head>
	
	<meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' * 'unsafe-eval'; object-src 'self';">
	<!-- <meta charset="utf-8"> -->
	
	<link rel="stylesheet" href="chrome://browser/content/extension.css">
	<!-- <link rel="stylesheet" href="../deps/allmighty-autocomplete/style/autocomplete.css"> -->
	<link rel="stylesheet" href="../deps/json/json-formatter.css">
	<link rel="stylesheet" href="../styles/jsl.css">
	<link rel="stylesheet" href="listener.css">
	
	
	<script src="../deps/jquery.min.js"></script>
	<script src="../deps/angular.min.js"></script>
	
	<script src="../deps/angucomplete-alt/angucomplete-alt.js"></script>
	<script src="../../utils/jsloader-utils.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../deps/highlightjs/highlight.min.js"></script>
	<script src="../deps/angular-highlightjs-searchtext/build/release/angular-highlightjs-searchtext.min.js"></script>
	<script src="../partials/partials.js"></script>
	<script src="../../utils/deps/EventEmitter/EventEmitter.min.js"></script>
	
  </head>
  
  <body spellcheck=false ng-controller="bodyController as listener" ng-cloak>
	  
	  <div id="listener-header" class=" panel-section panel-section-header header">

		  <div class="header-title text-section-header">
			  
			  <div class="header-title-text"> 
				  
				  {{ url }}

				  <!-- Not working as expected -->
				  <label class="browser-style" for="cliptab" style="float:right;padding-right: 10px;">
					  
					  in tab
					  
					  <input id="cliptab" type="checkbox" ng-model="clipped" class="browser-style" ng-change="toggleClipped($event)" style="float:right;margin-left: 5px;"> 
					  <bdi ng-class="clipped ? 'browser-style pressed' : 'browser-style'"> {{ tabId }} </bdi>
					  
				  </label>
				  
			  </div>
		  </div>
		  
		  <div class="filter-bucket">
			  
			  <div class="filter-list">
				  
				  <label ng-repeat="filter in filterOpts track by filter.text" class="filter-label">
					  <input type="checkbox" ng-model="filter.value" ng-change="filter.change(filter.value)">
					  <span> {{ filter.text }} </span>
				  </label>
				  
			  </div>
			  
			  <span class="filter-label"> Filter: </span>
			  <input class="filter_inpt browser-style" type="text" ng-model="advFilter" ng-change="advFilterChange()">
			  
			  <button class="browser-style jslbtn-pause" ng-click="toggleCapture()"> {{ capture_status }} capture </button>
			  
		  </div>
		  
	  </div>
	 
	  <div id="content" class="panel-section scrollable" ng-controller="listenerController as listener">
		  <no-info ng-if="!infoShown()" text="getVoidText()"></no-info>
		  
		  <ul style="display:block;">
			  
			  <http-request ng-repeat="req in list"
				  ng-show="req.shown"
				  req="req"
				  proxys="page.statu.proxys"
				  urlclick="urlClick"
				  toggle="toggleRule"
				  remove="removeRule"> </http-request>
			  
			  <li class="buttons-landing">
				  <a id="bottom"></a>
			  </li>
		  </ul>
		  
		  <div class="button-bucket">
			  <button class="browser-style jslbtn-fl" ng-show="infoShown()" ng-click="flushRequests()"> Flush {{ btnStatus() }} </button>
			  <button class="browser-style jslbtn-fl" ng-show="infoShown()" ng-click="downloadCapture()"> Download {{ btnStatus() }} </button> 
			  <button class="browser-style jslbtn-fl" ng-show="infoShown() && !config_sel" ng-click="configSelection()"> Config {{ btnStatus() }} </button>
			  <div ng-show="infoShown() && config_sel" class="config-sel-bucket">
				  <button class="browser-style jslbtn" ng-show="!rule_sel" ng-click="showRuleSel()"> Rule {{ btnStatus() }} </button>
				  <rule-adder style="display: inline-block;" add="persistRuleSel" dismiss="dismissRuleSel" ng-show="rule_sel"></rule-adder>
				  
				  <button class="browser-style jslbtn" ng-show="!proxying_sel && gotProxys" ng-click="showProxySel()"> Proxy {{ btnStatus() }} </button>
				  <label ng-show="proxying_sel && gotProxys">
					  <span style="margin-left: 5px;"> Proxy through: </span>
					  <select class="browser-style" ng-model="currentProxySel" ng-options="proxy for proxy in page.statu.proxys" ng-change="proxySelChange()"></select>
					  <button class="browser-style jslbtn" ng-click="dismissProxySel()"> x </button>
				  </label>
				  
			  </div>
		  </div>
	  </div>
	  
	  <script src="../deps/json/json-formatter.js"></script>
	  <script src="listener.js"></script>
	  
  </body>
</html>
